[submodule "lib/gym"]
	path = lib/gym
	url = git@github.com:jamesbut/gym.git
[submodule "lib/pybullet-gym"]
	path = lib/pybullet-gym
	url = https://github.com/jamesbut/pybullet-gym.git
[submodule "lib/deap"]
	path = lib/deap
	url = https://github.com/jamesbut/deap.git
